node_modules
dist
build
.env
*.log

blockchain/artifacts
blockchain/cache
blockchain/typechain-types
blockchain/deployments

backend/src/blockchain/generated/CredentialRegistry.json
frontend/src/contracts/CredentialRegistry.json

pgdata/
